
\.idea/

tflearn/cnn_cifar/cifar-10-batches-py/

*.pyc

tflearn/cnn_cifar/weights/cifar_ag/

tflearn/cnn_cifar/weights/

tflearn_implementation/cnn_cifar/cifar-10-batches-py/

tflearn_implementation/cnn_cifar/weights/cifar_ag/

tflearn_implementation/cnn_cifar/weights/

*.h5
